.package-details.no-display {
  display: none;
}

.package-force-directed {
  display: inline-block;
  width: 800px;
  text-align: center;
}

@media (max-width: 800px) {
  .package-force-directed {
    width: 100%;
  }
}
