#package-selector {
  display: inline-block;
  max-width: 1024px;
}
#package-selector.side-selector {
  float: left;
  position: relative;
  z-index: 999;
  width: 256px;
  max-width: 256px;
}
#package-name-input {
  text-align: center;
}
