#package-selector {
  display: inline-block;
  max-width: 1024px;
}
#package-selector.side-selector {
  left: 0;
  position: fixed;
  z-index: 999;
  width: 256px;
  max-width: 256px;
  box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 0;
  padding: 20px;
}
#package-name-input {
  text-align: center;
}
