#query-results .query-results-cards {
  display: inline-block;
}
#query-results ul {
  list-style: none;
  padding: 0px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
#query-results ul li {
  list-style-type: none;
  flex: 1 0 auto;
  width: 21%;
  padding: 12px;
}

@media (min-width: 600px) and (max-width: 800px) {
  #query-results ul li {
    list-style-type: none;
    flex: 1 0 auto;
    width: 30%;
    padding: 12px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  #query-results ul li {
    list-style-type: none;
    flex: 1 0 auto;
    width: 42%;
    padding: 12px;
  }
}

@media (max-width: 400px) {
  #query-results ul li {
    list-style-type: none;
    flex: 1 0 auto;
    width: 80%;
    padding: 12px;
  }
}
