#query-results .query-results-cards {
  display: inline-block;
}
#query-results ul {
  list-style: none;
  padding: 0px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

#query-results ul li {
  list-style-type: none;
  flex: 1 0 auto;
  width: 20%;
  padding: 12px;
}

.side-selector #query-results ul {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.side-selector #query-results ul li {
  width: 80%;
  padding: 0 0 12px 0;
}
